body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 5vh; }

* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

a {
  cursor: pointer; }

.center {
  align-items: center;
  display: flex;
  justify-content: center; }

.wrapper {
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  height: 10%; }

.logo {
  align-items: center;
  background-color: #fac21b;
  display: flex;
  font-weight: bold;
  letter-spacing: 2vw;
  padding-left: 10%;
  transition: background-color;
  transition-duration: 300ms; }

.logo:hover {
  cursor: pointer;
  background-color: #f6ba05; }

.opacity08 {
  opacity: .8; }

i {
  text-shadow: 4px 4px 5px #e86f22; }

.lang {
  background-color: #3b3742;
  justify-content: space-around; }
  .lang img {
    width: 30%; }
  .lang img:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity;
    transition-duration: 300ms; }

.container {
  height: 80%; }

.menu {
  box-shadow: 0px -13px 35px -10px #E17C00;
  background-color: #E17C00;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  width: 50%; }
  .menu i {
    font-size: 15vh; }

.menu-items {
  display: flex;
  flex-direction: column;
  height: 35%;
  text-align: center;
  transition: background-color;
  transition-duration: 300ms;
  width: 35%; }

.menu-items:hover {
  cursor: pointer; }

.cv {
  box-shadow: inset 0 0 40px #E17C00;
  display: flex;
  background-color: #d7f521;
  margin: 8% 5% 2% 10%; }

.portfolio {
  box-shadow: inset 0 0 40px #E17C00;
  background-color: #e3542f;
  margin: 8% 10% 2% 5%; }

.contact {
  box-shadow: inset 0 0 40px #E17C00;
  background-color: #d60001;
  margin: 5% 5% 5% 10%; }

.skills {
  box-shadow: inset 0 0 40px #E17C00;
  background-color: #131e28;
  margin: 5% 10% 5% 5%; }

.cv:hover {
  background-color: #a7c109; }

.portfolio:hover {
  background-color: #c53d1a; }

.contact:hover {
  background-color: #A30001; }

.skills:hover {
  background-color: #030405; }

.content {
  box-shadow: 0px -13px 35px -10px #E17C00, -15px 0px 35px -10px #fac21b;
  background-color: #505927;
  display: flex;
  overflow: auto;
  width: 50%; }

.content-landing-page {
  background-color: #202410;
  box-shadow: 0 8px 6px -6px #e86f22;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 80%;
  transition: all 0.3s linear; }
  .content-landing-page img:nth-child(2) {
    display: none; }
  .content-landing-page img {
    border: 5px solid #faa636;
    float: right;
    margin-left: 5px; }
  .content-landing-page p {
    display: inline;
    font-size: 5vh;
    clear: both; }

.content-cv {
  background-color: #202410;
  box-shadow: 0 8px 6px -6px #e86f22;
  height: 93%;
  overflow: auto;
  width: 93%;
  transition: all 0.3s linear; }
  .content-cv p {
    font-size: 3vh;
    margin: 0;
    padding-left: 10px; }
  .content-cv a {
    color: #fff;
    text-decoration: none; }
    .content-cv a:hover {
      text-decoration: underline;
      text-decoration-color: #fac21b; }

.content-skills {
  background-color: #202410;
  box-shadow: 0 8px 6px -6px #e86f22;
  height: 93%;
  overflow: auto;
  width: 93%;
  transition: all 0.3s linear; }
  .content-skills p {
    font-size: 3vh;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px; }
  .content-skills a {
    color: #fff;
    text-decoration: none; }
    .content-skills a:hover {
      text-decoration: underline;
      text-decoration-color: #e3542f; }
  .content-skills i {
    text-shadow: none; }

.content-contact {
  background-color: #202410;
  box-shadow: 0 8px 6px -6px #e86f22;
  height: 93%;
  overflow: auto;
  width: 93%;
  transition: all 0.3s linear; }
  .content-contact p {
    font-size: 3vh;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center; }
  .content-contact .contact-form-container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    position: relative; }
  .content-contact fieldset {
    border: none !important;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .content-contact #contact input[type="text"], .content-contact #contact input[type="email"], .content-contact #contact input[type="tel"], .content-contact #contact textarea {
    width: 100%;
    margin: 0 0 2px;
    padding: 5px;
    font-size: 2vh;
    box-shadow: inset 0 0 52px orange; }
  .content-contact #contact textarea {
    min-height: 100px;
    max-width: 100%;
    resize: none;
    margin-top: 13px;
    -moz-appearance: textfield; }
  .content-contact #contact button[type="submit"] {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #505927;
    margin: 13px 25% 10px;
    padding: 10px;
    font-size: 3vh;
    color: #fff; }
  .content-contact #contact button[type="submit"]:hover {
    box-shadow: 0px -13px 35px -10px #E17C00;
    background: #c49404;
    transition: all 0.6s ease-in-out; }
  .content-contact #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.content-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: #202410;
  box-shadow: 0 8px 6px -6px #e86f22;
  justify-content: space-around;
  transition: all 0.3s linear; }
  .content-portfolio a {
    color: #fff;
    text-decoration: none; }
  .content-portfolio i {
    transition: all .2s ease-out;
    font-size: 11vh; }
  .content-portfolio i:hover {
    transform: scale(1.2); }
  .content-portfolio .portfolio-item {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 5px;
    text-align: center;
    width: 30%; }
    .content-portfolio .portfolio-item a {
      display: flex;
      flex-direction: column;
      outline: 0; }

.footer {
  height: 10%; }

.settings {
  box-shadow: 0px -20px 35px -10px #fac21b;
  background-color: #a48a2a;
  display: flex;
  font-size: 3vw;
  justify-content: flex-start; }

.info {
  align-items: center;
  background-color: #202410;
  display: flex;
  font-size: 3vh; }
  .info i {
    font-size: 5vh;
    text-shadow: 2px 2px 3px #e86f22; }
  .info #changing-information {
    transition: all 0.20s linear; }

@media all and (max-width: 640px) {
  .header {
    height: 10%; }

  .hideOnSmallerScreen {
    display: none; }

  i {
    text-shadow: 2px 2px 3px #e86f22; }

  .container {
    height: 80%; }

  .content {
    height: 83%;
    width: 100%; }

  .content-portfolio {
    font-size: 4vh; }
    .content-portfolio i {
      font-size: 7vh; }

  .content-landing-page {
    width: 100%;
    height: 90%;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #202410;
    overflow: auto; }
    .content-landing-page img:first-child {
      display: none; }
    .content-landing-page img:nth-child(2) {
      display: initial; }
    .content-landing-page img {
      border: 5px solid #faa636;
      float: right;
      margin-left: 4px; }
    .content-landing-page p {
      display: inline;
      font-size: 4vh; }

  .menu {
    height: 17%;
    width: 100%; }

  .menu-items {
    font-size: 4vh;
    height: 100%;
    margin: 0;
    padding-top: 0;
    width: 25%; }

  .menu i {
    font-size: 6vh; }

  .info {
    display: none; }

  .settings {
    font-size: 5vh;
    height: 100%;
    width: 100%; }

  .footer {
    height: 10%; }

  .logo {
    font-size: 4vh;
    letter-spacing: normal;
    padding-left: 0;
    width: 75%; }

  .lang {
    width: 25%; } }
@media all and (max-width: 332px) {
  .content-portfolio {
    height: 100%;
    overflow: auto; } }
ol {
  display: flex;
  font-size: 4vh;
  line-height: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  ol a {
    outline: 0;
    color: #fff;
    display: block;
    padding: 0 5px;
    text-decoration: none; }
  ol li {
    background-color: #a48a2a;
    float: left;
    height: 100%;
    position: relative;
    transition-duration: 300ms;
    width: 150px; }
    ol li:first-child {
      margin-left: 0; }
    ol li:hover {
      background-color: #D78A39; }
      ol li:hover ul {
        bottom: 100%;
        max-height: 300px;
        transform: scaleY(1);
        visibility: visible; }
    ol li ul {
      bottom: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition: 250ms;
      visibility: hidden;
      width: 150px; }
      ol li ul li {
        background-color: #a48a2a;
        display: block;
        position: relative;
        transition: background-color;
        transition-duration: 300ms;
        z-index: 10; }
      ol li ul li:hover {
        background-color: #D78A39; }

ol span,
.settings > span > i {
  vertical-align: middle; }

.carmel, .metro {
  color: #d7f521; }

.no-display {
  display: none; }

.hidden {
  opacity: 0; }

/*# sourceMappingURL=carmel.css.map */
