body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  position: fixed;
  overflow: hidden;
  font-size: 5vh; }

* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

a {
  cursor: pointer; }

.center {
  align-items: center;
  display: flex;
  justify-content: center; }

.wrapper {
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  height: 10%; }

.logo {
  align-items: center;
  background-color: #506aa3;
  display: flex;
  font-weight: bold;
  letter-spacing: 2vw;
  padding-left: 10%;
  transition: background-color;
  transition-duration: 300ms; }

.logo:hover {
  cursor: pointer;
  background-color: #485f92; }

i {
  text-shadow: 4px 4px 5px #000; }

.lang {
  background-color: #3b3742;
  justify-content: space-around; }
  .lang img {
    width: 30%; }
  .lang img:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity;
    transition-duration: 300ms; }

.opacity08 {
  opacity: .8; }

.container {
  height: 80%; }

.menu {
  background-color: #d5b982;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  width: 50%; }
  .menu i {
    font-size: 15vh; }

.menu-items {
  display: flex;
  flex-direction: column;
  height: 35%;
  text-align: center;
  transition: background-color;
  transition-duration: 300ms;
  width: 35%; }

.menu-items:hover {
  cursor: pointer; }

.cv {
  display: flex;
  background-color: #86dae6;
  margin: 8% 5% 2% 10%; }

.portfolio {
  background-color: #f58137;
  margin: 8% 10% 2% 5%; }

.contact {
  background-color: #f9d744;
  margin: 5% 5% 5% 10%; }

.skills {
  background-color: #acf650;
  margin: 5% 10% 5% 5%; }

@-moz-document url-prefix() {
  .font-size {
    display: none; } }
@media screen\0 {
  .font-size {
    display: none; } }
.font-size {
  float: right;
  font-size: 7vh;
  margin-right: 10px;
  color: #c9d582 !important; }

.font-size {
  text-decoration: none !important; }

.cv:hover {
  background-color: #47c7d9; }

.portfolio:hover {
  background-color: #ed640c; }

.contact:hover {
  background-color: #f7cc13; }

.skills:hover {
  background-color: #95f41f; }

.content {
  background-color: #c9d582;
  display: flex;
  overflow: auto;
  width: 50%; }

.content-landing-page {
  background-color: #b0c249;
  box-shadow: 0 8px 6px -6px #000;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 80%;
  transition: all 0.3s linear; }
  .content-landing-page img:nth-child(2) {
    display: none; }
  .content-landing-page img {
    border: 5px solid #72635b;
    float: right;
    margin-left: 5px; }
  .content-landing-page p {
    display: inline;
    font-size: 5vh;
    clear: both; }

.content-cv {
  background-color: #b0c249;
  box-shadow: 0 8px 6px -6px #000;
  height: 93%;
  overflow: auto;
  width: 93%;
  transition: all 0.3s linear; }
  .content-cv p {
    font-size: 3vh;
    margin: 0;
    padding-left: 10px; }
  .content-cv a {
    color: #fff;
    text-decoration: none; }
    .content-cv a:hover {
      text-decoration: underline; }

.content-skills {
  background-color: #b0c249;
  box-shadow: 0 8px 6px -6px #000;
  height: 93%;
  overflow: auto;
  width: 93%;
  transition: all 0.3s linear; }
  .content-skills p {
    font-size: 3vh;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px; }
  .content-skills a {
    color: #fff;
    text-decoration: none; }
    .content-skills a:hover {
      text-decoration: underline; }
  .content-skills i {
    text-shadow: none; }

.content-contact {
  background-color: #b0c249;
  box-shadow: 0 8px 6px -6px #000;
  height: 93%;
  overflow: auto;
  width: 93%;
  transition: all 0.3s linear; }
  .content-contact p {
    font-size: 3vh;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center; }
  .content-contact .contact-form-container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    position: relative; }
  .content-contact fieldset {
    border: none !important;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .content-contact #contact input[type="text"], .content-contact #contact input[type="email"], .content-contact #contact input[type="tel"], .content-contact #contact textarea {
    width: 100%;
    margin: 0 0 2px;
    padding: 5px;
    font-size: 2vh; }
  .content-contact #contact textarea {
    min-height: 100px;
    max-width: 100%;
    resize: none;
    margin-top: 13px;
    -moz-appearance: textfield; }
  .content-contact #contact button[type="submit"] {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #c9d582;
    margin: 13px 25% 10px;
    padding: 10px;
    font-size: 3vh;
    color: #fff; }
  .content-contact #contact button[type="submit"]:hover {
    background: #b79606;
    transition: background-color 0.3s ease-in-out; }
  .content-contact #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.content-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: #b0c249;
  box-shadow: 0 8px 6px -6px #000;
  justify-content: space-around;
  transition: all 0.3s linear; }
  .content-portfolio a {
    color: #fff;
    text-decoration: none; }
  .content-portfolio .psd {
    cursor: pointer; }
  .content-portfolio .close {
    font-size: 60px;
    position: absolute;
    right: -30px;
    top: -70px; }
  .content-portfolio .close:hover {
    color: #d9d9d9; }
  .content-portfolio i {
    transition: all .2s ease-out;
    font-size: 11vh; }
  .content-portfolio i:hover {
    transform: scale(1.2); }
  .content-portfolio .portfolio-item {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 5px;
    text-align: center;
    width: 30%; }
    .content-portfolio .portfolio-item a {
      display: flex;
      flex-direction: column;
      outline: 0; }

.modal {
  z-index: 999;
  position: fixed;
  background-color: #b0c249;
  top: 50%;
  left: 75%;
  transform: translateX(-50%) translateY(-50%);
  height: 400px;
  width: 22.5%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  transition: opacity .5s ease-in; }
  .modal h5 {
    margin-top: 0;
    align-self: center;
    margin-bottom: 10px; }
  .modal .slider__state-container {
    display: flex;
    flex-direction: row;
    align-self: center; }
  .modal .slider__state-square {
    width: 15px;
    height: 10px;
    border: 2px solid #fff;
    margin-right: 5px;
    margin-top: 10px; }
  .modal .slider__state-square--active {
    background-color: #fff; }
  .modal .slider {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center; }
    .modal .slider .left-arrow, .modal .slider .right-arrow {
      align-self: center;
      cursor: pointer; }
    .modal .slider .left-arrow {
      width: 0;
      height: 0;
      border-right: 30px solid #fff;
      border-bottom: 20px solid   transparent;
      border-top: 20px solid transparent; }
    .modal .slider .right-arrow {
      width: 0;
      height: 0;
      border-left: 30px solid #fff;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent; }
    .modal .slider a {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .modal .slider a:hover {
      color: #d9d9d9; }
  .modal .slider__img-container {
    overflow: hidden;
    min-height: 260px;
    min-width: 180px;
    outline: 4px solid #fff;
    background-image: url("../img/3pic.jpg");
    transition: all .5s ease; }
  .modal .left-bg-pos {
    background-position: left; }
  .modal .center-bg-pos {
    background-position: center; }
  .modal .right-bg-pos {
    background-position: right; }
  .modal p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 24px; }
    .modal p a:hover {
      text-decoration: underline; }

.shadow {
  z-index: 500;
  position: fixed;
  width: 50%;
  height: 80%;
  top: 10%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity .5s ease-in; }

.footer {
  height: 10%; }

.settings {
  background-color: #a52a2a;
  display: flex;
  font-size: 3vw;
  justify-content: flex-start; }

.info {
  align-items: center;
  background-color: #b0c249;
  display: flex;
  font-size: 3vh; }
  .info i {
    font-size: 5vh;
    text-shadow: 2px 2px 3px #000; }
  .info #changing-information {
    transition: all .2s linear; }

@media all and (max-width: 640px) {
  .header {
    height: 10%; }

  .hideOnSmallerScreen {
    display: none; }

  i {
    text-shadow: 2px 2px 3px #000; }

  .container {
    height: 80%; }

  .content {
    height: 83%;
    width: 100%; }

  .content-portfolio {
    font-size: 4vh; }
    .content-portfolio i {
      font-size: 7vh; }
    .content-portfolio .close {
      font-size: 50px;
      position: absolute;
      right: 1px;
      top: -25px; }

  .content-landing-page {
    width: 100%;
    height: 90%;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #b0c249;
    overflow: auto; }
    .content-landing-page img:first-child {
      display: none; }
    .content-landing-page img:nth-child(2) {
      display: initial; }
    .content-landing-page img {
      border: 5px solid #72635b;
      float: right;
      margin-left: 4px; }
    .content-landing-page p {
      display: inline;
      font-size: 4vh; }

  .modal {
    left: 50%; }

  .shadow {
    width: 100%;
    height: 100%; }

  .menu {
    height: 17%;
    width: 100%; }

  .menu-items {
    font-size: 4vh;
    height: 100%;
    margin: 0;
    padding-top: 0;
    width: 25%; }

  .menu i {
    font-size: 6vh; }

  .info {
    display: none; }

  .settings {
    font-size: 5vh;
    height: 100%;
    width: 100%; }

  .footer {
    height: 10%; }

  .logo {
    font-size: 4vh;
    letter-spacing: normal;
    padding-left: 0;
    width: 75%; }

  .lang {
    width: 25%; } }
@media all and (max-width: 332px) {
  .content-portfolio {
    height: 100%;
    overflow: auto; } }
ol {
  display: flex;
  font-size: 4vh;
  line-height: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  ol a {
    outline: 0;
    color: #fff;
    display: block;
    padding: 0 5px;
    text-decoration: none; }
  ol li {
    background-color: #a52a2a;
    float: left;
    height: 100%;
    position: relative;
    transition-duration: 300ms;
    width: 150px; }
    ol li:first-child {
      margin-left: 0; }
    ol li:hover {
      background-color: #681a1a; }
      ol li:hover ul {
        bottom: 100%;
        max-height: 300px;
        transform: scaleY(1);
        visibility: visible; }
    ol li ul {
      bottom: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition: 250ms;
      visibility: hidden;
      width: 150px; }
      ol li ul li {
        background-color: #a52a2a;
        display: block;
        position: relative;
        transition: background-color;
        transition-duration: 300ms;
        z-index: 10; }
      ol li ul li:hover {
        background-color: #681a1a; }

ol span,
.settings > span > i {
  vertical-align: middle; }

.pastel, .metro {
  color: #f7cc13; }

.no-display {
  display: none; }

.hidden {
  opacity: 0; }

.hide-modal {
  opacity: 0;
  z-index: -3; }

/*# sourceMappingURL=style.css.map */
