body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 5vh; }

* {
  box-sizing: border-box; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.center {
  align-items: center;
  display: flex;
  justify-content: center; }

.wrapper {
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  height: 10%; }

.logo {
  align-items: center;
  background-color: #506aa3;
  display: flex;
  font-weight: bold;
  letter-spacing: 2vw;
  padding-left: 10%;
  transition: background-color;
  transition-duration: 300ms; }

.logo:hover {
  background-color: #485f92; }

.pl {
  opacity: .8; }

img:hover {
  opacity: 1; }

.lang {
  background-color: #3b3742;
  justify-content: space-around; }
  .lang img {
    width: 30%; }

.container {
  height: 80%; }

.menu {
  background-color: #45e777;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  width: 50%; }
  .menu i {
    font-size: 15vh; }

.menu-items {
  display: flex;
  flex-direction: column;
  height: 35%;
  text-align: center;
  transition: background-color;
  transition-duration: 300ms;
  width: 35%; }

.cv {
  background-color: #70e4f4;
  margin: 10% 5% 5% 10%; }

.portfolio {
  background-color: #e32fdc;
  margin: 10% 10% 5% 5%; }

.contact {
  background-color: #f9d744;
  margin: 5% 5% 10% 10%; }

.skills {
  background-color: #96f421;
  margin: 5% 10% 10% 5%; }

.cv:hover {
  background-color: #29d7ef; }

.portfolio:hover {
  background-color: #c51abe; }

.contact:hover {
  background-color: #f7cc13; }

.skills:hover {
  background-color: #7cd70b; }

.content {
  background-color: #c9d582; }

.footer {
  height: 10%; }

.settings {
  background-color: #a52a2a;
  font-size: 3vw;
  justify-content: flex-start;
  display: flex; }

.info {
  align-items: center;
  background-color: #899e0a;
  display: flex; }

@media all and (max-width: 640px) {
  .header {
    height: 10%; }

  .container {
    height: 70%; }

  .content {
    height: 80%;
    width: 100%; }

  .menu {
    height: 20%;
    width: 100%; }

  .menu-items {
    font-size: 4vh;
    height: 100%;
    margin: 0;
    padding-top: 0;
    width: 25%; }

  .menu i {
    font-size: 6vh; }

  .info {
    order: 1;
    width: 100%; }

  .settings {
    order: 2;
    width: 100%;
    font-size: 5vh; }

  .footer {
    height: 20%; }

  .logo {
    font-size: 4vh;
    letter-spacing: normal;
    padding-left: 0;
    width: 75%; }

  .lang {
    width: 25%; } }
ol {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 4vh;
  line-height: 2em;
  text-align: center; }

ol a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 5px; }

ol > li {
  position: relative;
  float: left;
  background-color: #a52a2a;
  width: 150px;
  height: 100%;
  transition-duration: 300ms; }

ol span, .settings > span > i {
  vertical-align: middle; }

ol > li:hover {
  background-color: #681a1a; }

ol > li:first-child {
  margin-left: 0; }

ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  visibility: hidden;
  position: absolute;
  width: 150px;
  transform: scaleY(0);
  transition: 250ms;
  transform-origin: 50% 100%;
  bottom: 100%; }

ol > li:hover > ul {
  visibility: visible;
  transform: scaleY(1);
  bottom: 100%;
  max-height: 300px; }

ol > li > ul > li {
  position: relative;
  z-index: 10;
  background-color: #a52a2a;
  display: block;
  transition: background-color;
  transition-duration: 300ms; }

ol > li > ul > li:hover {
  background-color: #681a1a; }

/*# sourceMappingURL=style.css.map */
