$red1: #AA6262;
$red2: #F7CACA;
$red3: #CC8E8E;
$red4: #814141;
$red5: #702323;
$red6: darken($red5, 20%);
$blue1: #3B6666;
$blue2: #799494;
$blue3: #557B7B;
$blue4: #274D4D;
$blue5: #154343;
$blue6: darken($blue5, 20%);
$green1: #889F5B;
$green2: #D8E6BC;
$green3: #ABBF84;
$green4: #64783D;
$green5: #516821;
$green6: darken($green5, 20%);
$black: #000;
