@import "settings";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $red1;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  height: auto;
  min-height: 100% !important;
  position: relative;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:active,
a:focus,
button,
button:active,
button:focus,
input,
input:active,
input:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
}

button {
  appearance: none;
  background-color: $red3;
  border: 0px;
  border-radius: 5px;
  box-shadow: none;
  color: $red6;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 30px;
  outline: none;
  padding: 10px 20px 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  transition: all .2s ease-out;
  width: 200px;

  &:hover {
    background: darken($red3, 5%);
  }
  i {
    font-size: 4rem;
  }
}

button::-moz-focus-inner {
  border: 0;
}

.family-member {
  background-color: $blue1;

  border-radius: 10px;
  color: $blue6;
  display: inline-flex;
  font-size: 2rem;
  line-height: 1.2;

  text-align: center;

  article {
    flex-direction: column;
    padding: 10px;
    position: relative;

    input {
      font-size: 2.5rem;
      -webkit-appearance: none;
      border: none;
      border-radius: 5px;
      background-image: none;
      background-color: $blue3;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      max-width: 150px;
      text-indent: 10px;
    }

    input:last-of-type {
      font-size: 2.3rem;
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $blue2;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      color: $blue2;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      color: $blue2;
    }
    input:-moz-placeholder { /* Firefox 18- */
      color: $blue2;
    }
  }

  .icon-cancel-circled,
  .icon-minus-circled,
  .icon-ok-circled {
    position: absolute;
    top: 0;
    transition: all .2s ease-out;

    &:hover {
      color: lighten($blue6, 50%);
      cursor: pointer;
    }
  }

  .icon-user {
    font-size: 6rem;
  }

  .icon-male, .icon-female {
    font-size: 5rem;
    transition: all .2s ease-out;
    &:hover {
      color: lighten($blue6, 50%);
      cursor: pointer;
    }
  }
  .icon-cancel-circled {
    left: 0;
  }

  .icon-minus-circled, .icon-ok-circled {
    right: 0;
  }

  article:last-child {
    border-left: 1px dashed $blue5;
    span {
      font-size: 2.5rem;
    }
    span:last-of-type {
      font-size: 2.3rem;
    }
  }
}

.alive {

  background-color: $green1;
  color: $green6;
  .icon-cancel-circled:hover,
  .icon-ok-circled:hover,
  .icon-minus-circled:hover,
  .icon-male:hover,
  .icon-female:hover
   {
    color: lighten($green6, 10%);
  }

  article:last-child {
    border-left: 1px dashed $green5;
  }
}
